.cards-title {
	margin-top: 120px;
	text-align: center;
}

.cards-paragraph {
	margin-top: 40px;
	text-align: center;
}

.cards {
	margin-top: 78px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.cards__item {
	width: 33.333%;
	max-width: 260px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards__item h4 {
	margin-top: 15px;
	text-align: center;
}

.cards__item p {
	margin-top: 25px;
	font-size: 16.9px;
	text-align: center;
}

.cards__img {
	max-width: 260px;